In [7]:
import pandas as pd
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [2]:
url = 'https://raw.githubusercontent.com/abndre/data/master/data_science/estudo_modelos/linear_regression/titanic_numerical.csv'

In [5]:
%%time
df = pd.read_csv(url)

CPU times: user 16.2 ms, sys: 0 ns, total: 16.2 ms
Wall time: 1.2 s

In [9]:
df.head(2)

,PassengerId,Survived,Name,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,Sex_female,Sex_male,Pclass_1,Pclass_2,Pclass_3,AgeBand_,AgeBand_Adults,AgeBand_Infant,AgeBand_Seniors,AgeBand_YoungChild,Fare_group_0,Fare_group_1,Fare_group_2,Fare_group_3
0,1,0,"Braund, Mr. Owen Harris",22.0,1,0,A/5 21171,7.2500,NaN,S,0,1,0,0,1,0,1,0,0,0,1,0,0,0
1,2,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",38.0,1,0,PC 17599,71.2833,C85,C,1,0,1,0,0,0,1,0,0,0,0,0,0,1

In [10]:
from sklearn.model_selection import train_test_split

X = df.drop(['Survived', 'PassengerId', 'Age', 'Name', 'SibSp', 'Parch', 'Ticket', 'Cabin','Embarked', 'Fare'], axis=1)
y = df['Survived']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=42)

In [38]:
import pandas
import matplotlib.pyplot as plt
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.tree import DecisionTreeClassifier
from sklearn.neighbors import KNeighborsClassifier
from sklearn.discriminant_analysis import LinearDiscriminantAnalysis
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC

In [54]:
# prepare configuration for cross validation test harness
seed = 7
# prepare models
models = []
models.append(('LR', LogisticRegression()))
models.append(('LDA', LinearDiscriminantAnalysis()))
models.append(('KNN', KNeighborsClassifier()))
models.append(('CART', DecisionTreeClassifier()))
models.append(('NB', GaussianNB()))
models.append(('SVM', SVC()))
# evaluate each model in turn
results = []
r_mean=[]
names = []
scoring = 'accuracy'
for name, model in models:
    kfold = model_selection.KFold(n_splits=10, random_state=seed,shuffle=True)
    cv_results = model_selection.cross_val_score(model, X, y, cv=kfold, scoring=scoring)
    results.append(cv_results)
    r_mean.append(cv_results.mean())
    names.append(name)
    msg = "%s: %f (%f)" % (name, cv_results.mean(), cv_results.std())
    print(msg)

LR: 0.785655 (0.056634)
LDA: 0.791273 (0.051407)
KNN: 0.802472 (0.054616)
CART: 0.822722 (0.048429)
NB: 0.754232 (0.052442)
SVM: 0.815980 (0.048045)

In [55]:
names[r_mean.index(max(r_mean))]

'CART'

In [56]:
# Better rsult for first test